name: Test tap-klaviyo

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
    - "tap_klaviyo/**"
    - "tests/**"
    - "pyproject.toml"
    - "poetry.lock"
    - ".github/workflows/ci_workflow.yml"

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install Poetry
      run: |
        pipx install poetry
    - name: Install dependencies
      run: |
        poetry env use ${{ matrix.python-version }}
        poetry install
    - name: Test with pytest
      env:
        TAP_KLAVIYO_AUTH_TOKEN: ${{ secrets.TAP_KLAVIYO_AUTH_TOKEN }}
      run: |
        poetry run pytest
